#bar-details {
  margin: 0 auto;
  background-color: #091d28;
  width: 80%;
  max-height: fit-content;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

#bar-details-image {
  width: 20%;
  float: left;
  height: 100%;
  display: block;
  position: relative;
}

#bar-details-text {
  width: 80%;
  height: 100%;
  position: relative;
  text-align: left;
  float: left;
  color: white;
  padding-left: 20px;
  font-size: 20px;
}

#bar-details-image img {
  width: 100%;
  height: 100%;
}

#bar-details-text p {
  color: white;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#bar-details-text .bar-name-profile {
  font-weight: 800;
  letter-spacing: 10px;
  font-size: 40px;
}
#bar-details-text .bar-address-profile {
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 24px;
}

@media only screen and (max-width: 400px) {
  #bar-details-image {
    width: 100%;
  }
  #bar-details-image img {
    width: 80%;
  }

  #bar-details {
    height: fit-content;
  }
  #bar-details-text {
    width: 100%;
  }
}

#comment-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between; /* Rozstawienie dzieci na końcach kontenera */
  align-items: flex-start; /* Ustawienie dzieci na górze kontenera */
}

#textarea-comment {
  width: 90%;
}

#textarea-comment textarea {
  width: 100%;
  box-sizing: border-box; /* Zapewnienie, że szerokość textarea obejmuje padding */
  height: 100px; /* Możesz dostosować wysokość według potrzeb */
}

#button-comment {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

DarkButton {
  width: 100%;
  height: 100%; /* Możesz dostosować wysokość według potrzeb */
  display: flex;
  justify-content: center;
  align-items: center;
}
