#visited-bars-placeholder {
    text-align: center;
    align-items: center;
    width: 99vw;
    margin-bottom: 100px;
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    column-count: 3;
    justify-items: center;
    padding: 0px 30px;
    margin-top: 50px;
    cursor: pointer;

}

@media screen and (max-width: 1200px){
    #visited-bars-placeholder {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media screen and (max-width: 800px){
    #visited-bars-placeholder {
        grid-template-columns: 1fr;
    }
}



@media screen  and (min-width: 1200px){
    
    #visited-bars-placeholder {
        grid-template-columns: repeat(3, 3fr);
    }

}